@using System.Threading.Tasks
@using AbpCompanyName.AbpProjectName.Products.Dtos
@model Abp.Application.Services.Dto.ListResultOutput<ProductDto>
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>AbpProjectName</title>
</head>
<body>
    <h2>@L("HelloWorld")! @L("OurProducts"):</h2>

    <ul>
        @foreach (var product in Model.Items)
        {
            <li>@product.Name - $@product.Price</li>
        }
    </ul>

    <h3>@L("ChangeLanguage"):</h3>
    <ul>
        @foreach (var languageInfo in LocalizationManager.GetAllLanguages())
        {
            <li>
                @if (LocalizationManager.CurrentLanguage.Name == languageInfo.Name)
                {
                    <span class="text-muted">@languageInfo.DisplayName</span>
                }
                else
                {
                    <a href="/AbpLocalization/ChangeCulture?cultureName=@languageInfo.Name">@languageInfo.DisplayName</a>
                }
            </li>
        }
    </ul>
</body>
</html>