@section scripts
{
    <environment names="Development">
        <script src="~/js/views/home/index.js"></script>
    </environment>

    <environment names="Staging,Production">
        <script src="~/js/views/home/index.min.js"></script>
    </environment>
}

<h2>@L("HelloWorld")!</h2>

<h3>@L("ChangeLanguage"):</h3>

<ul>
    @foreach (var languageInfo in LocalizationManager.GetAllLanguages())
    {
        <li>
            @if (LocalizationManager.CurrentLanguage.Name == languageInfo.Name)
            {
                <span class="text-muted">@languageInfo.DisplayName</span>
            }
            else
            {
                <a href="/AbpLocalization/ChangeCulture?cultureName=@languageInfo.Name">@languageInfo.DisplayName</a>
            }
        </li>
    }
</ul>

<div class="row">
    <div class="col-lg-12">
        <a id="GetProductsButton" class="btn btn-primary" href="#">@L("GetProducts")!</a>
    </div>
</div>

<div class="row">
    <div class="col-lg-12">
        <ul id="ProductList"></ul>
    </div>
</div>
